@tailwind base;
@tailwind components;
@tailwind utilities;

svg#twitter:hover {
    fill: #859fc8;
}

svg#moon:hover {
    fill: #3d415d;
}

html.dark svg#moon:hover {
    fill: #e3de76;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(115, 115, 135);
    border-radius: calc(2.5px);
}
